<a href="https://colab.research.google.com/github/Ryukijano/T-T-lab-6th-sem/blob/main/lab2_fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LAB 1
GYANATEET DUTTA 1930198 
ECS-2

In [ ]:
a=10
b=30
c=a+b
print(c)

40

In [ ]:
a=int(input("Enter first number"))
b=int(input("Enter second number"))
c=a+b
print("The sum is:")
print(c)

Enter first number3
Enter second number4
The sum is:
7

GYANATEET DUTTA
1930198
ECS-2

In [ ]:

print("Enter the number of apples")
apples=int(input())
print("Enter the number of oranges")
oranges=int(input())
print("Enter the number of mangoes")
mangoes=int(input())
print("Enter the number of pears")
pears=int(input())

if apples>oranges and apples>mangoes and apples>pears:
    print("The most number of fruits are apples")
elif oranges>apples and oranges>mangoes and oranges>pears:
    print("The most number of fruits are oranges")
elif mangoes>apples and mangoes>oranges and mangoes>pears:
    print("The most number of fruits are mangoes")
elif pears>apples and pears>oranges and pears>mangoes:
    print("The most number of fruits are pears")
else:
    print("There are no fruits")

Enter the number of apples
22
Enter the number of oranges
19
Enter the number of mangoes
33
Enter the number of pears
11
The most number of fruits are mangoes

In [ ]:
print("Enter your password to login")
attempts=0


while attempts<3:
    password=input("Enter your password:")

    
    if password=="secret":
        print("Access granted")
        break
    #
    else:
        print("Access denied")
        attempts+=1

else:
    print("You have exceeded the number of attempts")

Enter your password to login
Enter your password:password
Access denied
Enter your password:password
Access denied
Enter your password:password
Access denied
You have exceeded the number of attempts

In [ ]:

i=1
while i<=10:
    j=1
    while j<=10:
        print(i*j,'=',i,'*',j)
        j+=1
    i+=1
    print("\n")

1 = 1 * 1
2 = 1 * 2
3 = 1 * 3
4 = 1 * 4
5 = 1 * 5
6 = 1 * 6
7 = 1 * 7
8 = 1 * 8
9 = 1 * 9
10 = 1 * 10


2 = 2 * 1
4 = 2 * 2
6 = 2 * 3
8 = 2 * 4
10 = 2 * 5
12 = 2 * 6
14 = 2 * 7
16 = 2 * 8
18 = 2 * 9
20 = 2 * 10


3 = 3 * 1
6 = 3 * 2
9 = 3 * 3
12 = 3 * 4
15 = 3 * 5
18 = 3 * 6
21 = 3 * 7
24 = 3 * 8
27 = 3 * 9
30 = 3 * 10


4 = 4 * 1
8 = 4 * 2
12 = 4 * 3
16 = 4 * 4
20 = 4 * 5
24 = 4 * 6
28 = 4 * 7
32 = 4 * 8
36 = 4 * 9
40 = 4 * 10


5 = 5 * 1
10 = 5 * 2
15 = 5 * 3
20 = 5 * 4
25 = 5 * 5
30 = 5 * 6
35 = 5 * 7
40 = 5 * 8
45 = 5 * 9
50 = 5 * 10


6 = 6 * 1
12 = 6 * 2
18 = 6 * 3
24 = 6 * 4
30 = 6 * 5
36 = 6 * 6
42 = 6 * 7
48 = 6 * 8
54 = 6 * 9
60 = 6 * 10


7 = 7 * 1
14 = 7 * 2
21 = 7 * 3
28 = 7 * 4
35 = 7 * 5
42 = 7 * 6
49 = 7 * 7
56 = 7 * 8
63 = 7 * 9
70 = 7 * 10


8 = 8 * 1
16 = 8 * 2
24 = 8 * 3
32 = 8 * 4
40 = 8 * 5
48 = 8 * 6
56 = 8 * 7
64 = 8 * 8
72 = 8 * 9
80 = 8 * 10


9 = 9 * 1
18 = 9 * 2
27 = 9 * 3
36 = 9 * 4
45 = 9 * 5
54 = 9 * 6
63 = 9 * 7
72 = 9 * 8
81 = 9 * 9
90 = 9 * 10


10 = 10 * 1
20 = 10 * 2
30 = 10 * 3
40 = 10 * 4
50 = 10 * 5
60 = 10 * 6
70 = 10 * 7
80 = 10 * 8
90 = 10 * 9
100 = 10 * 10

In [ ]:
print("Enter your age")
age = int(input())
print("Are you graduated?")
isGraduated = input()
print("Do you have a license?")
hasLicense = input()
isGraduated = False
hasLicense = True

# Look if person is 18 years or older
if age >= 18:
    print("You're 18 or older. Welcome to adulthood!")

    if isGraduated=="Yes"or isGraduated=="yes":
        print('Congratulations with your graduation!')
    if hasLicense=="Yes"or hasLicense=="yes":
        print('You have a license!')
        print('Happy driving!')
else:
    "You're not 18 yet. You can't drive yet."

Enter your age
19
Are you graduated?
Yes
Do you have a license?
Yes
You're 18 or older. Welcome to adulthood!

In [ ]:
print("Select your ride:")
print("1. Bike")
print("2. Car")
print("3. SUV")

choice = int( input() )

if( choice == 1 ):
  print( "You have selected Bike" )
elif( choice == 2 ):
  print( "You have selected Car" )
elif( choice == 3 ):
  print( "You have selected SUV" )
else:
  print("Wrong choice!")

Select your ride:
1. Bike
2. Car
3. SUV
1
You have selected Bike