<a href="https://colab.research.google.com/github/Ryukijano/T-T-lab-6th-sem/blob/main/lab_4_recursions_and_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

4.1 Printing the first n numbers of a Fibonnaci Sequence using recursion

In [28]:
def fibonacci(n):
    if n<=1:
        return n
    else:
        return(fibonacci(n-1)+fibonacci(n-2))
nterms=int(input("Enter the number of terms:"))
if nterms <=0:
    print("Please enter a positive integer")
else:
    print("The Fibonacci sequence is:")
    for i in range(nterms):
        print(fibonacci(i))

Enter the number of terms:4
The Fibonacci sequence is:
0
1
1
2

4.2 Evaluating the equation y=x^n where n is a non-negative integer.

In [29]:
def evaluation(x,n):
    if n==0:
        return 1
    else:
        return x*evaluation(x,n-1)
x=abs(int(input("Enter a positive value of x:")))
n=int(input("Enter the value of n:"))
if n<0:
    print("Please enter a non negative integer")
else:
    print("The value of y is:",evaluation(x,n))

Enter a positive value of x:36
Enter the value of n:13
The value of y is: 170581728179578208256

4.3 Generating a reversing pyramid of numbers for a given number.

In [30]:
def reverse_pyramid(n):
    for i in range(n,0,-1):
        for j in range(i):
            print(i,end=" ")
        print()

n=abs(int(input("Enter the number of rows:")))
print(reverse_pyramid(n))

Enter the number of rows:3
3 3 3
2 2
1
None

4.4 Converting a number with base b into equivalent decimal number. Number with base b and b are input.

In [40]:
def convert(n,b):
    if n == 0:
        return 0
    else:
        return n%b + 10*convert(n//b,b)
n=int(input("Enter a number: "))
b=int(input("Enter the base: "))
print(convert(n,b))

Enter a number: 100
Enter the base: 10
100

4.5 Print the odd and even numbers seperately within a given range. The range is input through user.

In [41]:
def print_odd_even(n):
    for i in range(1,n+1):
        if i%2==0:
            print(i,"even")
        else:
            print(i,"odd")
n=int(input("Enter the range:"))
print_odd_even(n)

Enter the range:10
1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even