<a href="https://colab.research.google.com/github/Ryukijano/T-T-lab-6th-sem/blob/main/t%26t_lab_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

GYANATEET DUTTA
1930198
ECS-2
T&T Lab-6 (Tuples,Sets and Dictionaries)

In [ ]:
#1.create a tuple with 10 elements and display the elements in the reverse order that are prime.
my_tuple = (1,3,5,7,9,1,3,5,7,9)
#find prime numbers in the tuple
new_tuple = ()
for i in my_tuple:
    if i > 1:
        for j in range(2,i):
            if i % j == 0:
                break
        else:
            new_tuple += (i,)
#reverse the tuple
new_tuple = new_tuple[::-1]
#print the tuple
print(new_tuple)

(7, 5, 3, 7, 5, 3)

In [ ]:
#2.perform the following operations on the tuple
#max_value
#min value
#size of the tuple(length)
my_tuple = (1,3,5,7,9,1,3,5,7,9)
max_value = max(my_tuple)
print("the max value is ",max_value)
min_value = min(my_tuple)
print("the min value is ",min_value)
#print size of the tuple
size=len(my_tuple)
print("the size of the tuple is ",size)

the max value is  9
the min value is  1
the size of the tuple is  10

In [ ]:
#3.Create a tuple with n elements and separate even values and odd values into 2 different tuples
my_tuple=(1,2,3,4,5,6,7,8,9,10)
even_tuple=()
for i in my_tuple:
    if i%2==0:
        even_tuple=even_tuple+(i,)
odd_tuple=()
for i in my_tuple:
    if i%2!=0:
        odd_tuple=odd_tuple+(i,)
print("the even tuple is ",even_tuple)
print("the odd tuple is ",odd_tuple)

the even tuple is  (2, 4, 6, 8, 10)
the odd tuple is  (1, 3, 5, 7, 9)

In [ ]:
#4.Implement any 5 tuple functions with suitable examples.
tuple1=('a','b','c','d','e')
tuple2=('f','g','h','i','j')
print(len(tuple1))
max(tuple1)
min(tuple2)
tuple(range(1,10))

5

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
#5.Create a dictionary with 10 employee records like employee Id as key and name as value. Display the dictionary values.
employee_dict = { 1: 'John', 2: 'Paul', 3: 'George', 4: 'Ringo', 5: 'Pete', 6: 'John', 7: 'Paul', 8: 'George', 9: 'Ringo', 10: 'Pete'}
print(employee_dict)

{1: 'John', 2: 'Paul', 3: 'George', 4: 'Ringo', 5: 'Pete', 6: 'John', 7: 'Paul', 8: 'George', 9: 'Ringo', 10: 'Pete'}

In [ ]:
#6.Add 5 more records to the above dictionary and delete any two dictionary elements. Display dictionary values after each operation
employee_dict = { 1: 'John', 2: 'Paul', 3: 'George', 4: 'Ringo', 5: 'Pete', 6: 'John', 7: 'Paul', 8: 'George', 9: 'Ringo', 10: 'Pete', 11: 'John', 12: 'Paul', 13: 'George', 14: 'Ringo', 15: 'Pete', 16: 'John', 17: 'Paul', 18: 'George', 19: 'Ringo', 20: 'Pete'}
#delete two elements
employee_dict.pop(1)
print(employee_dict)

{2: 'Paul', 3: 'George', 4: 'Ringo', 5: 'Pete', 6: 'John', 7: 'Paul', 8: 'George', 9: 'Ringo', 10: 'Pete', 11: 'John', 12: 'Paul', 13: 'George', 14: 'Ringo', 15: 'Pete', 16: 'John', 17: 'Paul', 18: 'George', 19: 'Ringo', 20: 'Pete'}

In [ ]:
#7.Perform following two operations on a Product dictionary for 5 elements with key as prod name and value as the price
#a) length of the dictionary
#b) display only the value of dictionary (instead of keys)
#c) delete all the elements of a dictionary

#create a dictionary with 5 elements
product_dict={'pen':10,'pencil':20,'eraser':30,'pencil case':40,'pencil box':50}
#print the length of the dictionary
print(len(product_dict))
#display only the value of dictionary (instead of keys)
print(product_dict.values())
#delete all the elements of a dictionary
product_dict.clear()

5
dict_values([10, 20, 30, 40, 50])

In [ ]:
#8.Create a set with all the month names and display it in reverse order using an iterative method.
month_set=set(["January","February","March","April","May","June","July","August","September","October","November","December"])
#display the set in reverse order using iterative method
for i in range(len(month_set)-1,-1,-1):
    print(month_set[i])

TypeError: ignored

In [ ]:
#9.Create any two sets with having some of the elements as common in both the sets to perform union, intersection, and subtraction operations with suitable examples.
set1={1,2,3,4,5,6,7,8,9,10}
set2={1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20}
#union
print(set1.union(set2))
#intersection
print(set1.intersection(set2))
#subtraction
print(set1.difference(set2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set()

In [ ]:
#10. Create a set of all the day names in a week. Remove the 2nd and 2nd last values. Display the set after each operation.
day_set=set(["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
#remove 2nd value
day_set=day_set.difference({"Tuesday"})
print(day_set)
#remove 2nd last value
day_set=day_set.difference({"Sunday"})
print(day_set)

{'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Sunday', 'Friday'}
{'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Friday'}